body {
    height: 110vh;
    background-repeat: no-repeat;
    background: rgb(1,0,19);
    background: linear-gradient(27deg, rgba(1,0,19,1) 16%, rgba(9,9,121,1) 72%, rgba(0,65,255,1) 100%);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#swarm-container {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.alien {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

.alien-image {
    width: 100px;
    height: 100px;
    margin: 50px;
    color:rgb(97, 173, 20);
}

.target {
    color: red;
    opacity: 0;
    position: relative;
    bottom: 80px;
    left: 10px;
}

.alien-image:hover .target, .target:hover{
    opacity: 1;
    animation: spin 1.5s linear infinite;
}

.alien:last-child .alien-image {
    animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
    0%    {color: green;}
    50%   {color: yellow;}
    100%  {color: green;}
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

#ship-container {
    width: 600px;
    margin-top: 150px;
    display: flex;
    color:darkorange;
    flex-direction: column;
    align-items: center;
    justify-content: bottom;
}

.spaceship {
    width: 80px;
    height: 80px;
    
}

#hull-points {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    border: 10px solid orange;
    border-radius: 5px;
    display: flex;
    background-color: rgb(34, 1, 34);
}


.hull-point {
    background-color:cyan;
    height:50px;
    width:5%;
    margin-left: 1px;
    opacity: 1;
}

.hull-point:first-child {
    margin-left: 0;
}

#text-container, .game-end, #wave-text {
    text-align: center;
    width: 40vh;
    margin: auto;
    margin-top: 20px;
    border: 5px solid orange;
    border-radius: 5px;
    background-color: rgb(34, 1, 34);
}

.game-end, #wave-text {
    padding: 10px;
}

#text-box {
    min-height: 150px;
}

p {
    padding: 0px 10px;
    color: cyan;
    font-weight: bold;
    font-size: 16px;
}

#retreat {
    display: none;
}

button {
    margin: 10px 0;
    background-color: rgb(34, 1, 34);
    color: cyan;
    border: 3px solid orange;
    border-radius: 5px;
    font-weight: bold;
}

button:active {
    background-color: cyan;
    color: rgb(34, 1, 34);
}

.good {
    color: lightgreen;
}

.bad {
    color: red;
}

h1 {
    text-align: center;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
